h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 75px;
    color: black;
}
#play{
    text-align: center;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 150px;
    margin-left: 600px;
    font-size: 55px;
    cursor: pointer;
  
}
#play:hover{color: green}
body{
    background-image: url("https://images.template.net/112311/free-animation-virtual-classroom-background-tvwow.jpg");
    background-position: fixed;
    background-size: 180vh;
    cursor: pointer;

}
/**********LETTERS*****************/
#letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.3rem;
    margin-top: 300px;
    width: 841px;
    margin-left: 285px;
    display: none;
    
  }
  #letters button {
    font-size: 1.5rem;
    font-weight: bold;
    width: 45px;
    padding: .8rem;
    margin: .5rem;
    border: 2px solid rgb(255, 254, 254);
    color: black;
    border-radius: .1rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    opacity: .8;
    padding-left: -5rem;
  }

  /**********GUESS WORD *************/
#word-guess{
   margin-top: -465px;
    text-align: center;
    font-size: 45px;
    display: none;
}
/******MYSTERY WORD **************/
#mystery-word{
    display: none;
    text-align: center;
   margin-top: -90px;
}

/******************HANGMAN******************/

.gallows{
    transform: scaleX(-1);
    margin-top: 60vh;
    height: 300px;
    margin-left: 575px;
    width: 300px;
   display: none;
}
.hang-head {
    transform: scaleX(-1);
    margin-top: 60vh;
    height: 300px;
    margin-left: 575px;
    width: 300px;
    display: none;
    
}
.hang-body{
    transform: scaleX(-1);
    margin-top: 60vh;
    height: 300px;
    margin-left: 575px;
    width: 300px;
    display: none;
    
}
.right-arm{
    transform: scaleX(-1);
    margin-top: 60vh;
    height: 300px;
    margin-left: 575px;
    width: 300px;
    display: none;
}
.left-arm{
    transform: scaleX(-1);
    margin-top: 60vh;
    height: 300px;
    margin-left: 575px;
    width: 300px;
    display: none;
}
.left-leg{
    transform: scaleX(-1);
    margin-top: 60vh;
    height: 300px;
    margin-left: 575px;
    width: 300px;
    display: none;

}
.right-leg{
    transform: scaleX(-1);
    margin-top: 60vh;
    height: 300px;
    margin-left: 575px;
    width: 300px;
    display: none;
}
