* {
  box-sizing: border-box;
}

:root {
  --accent-dark: #BB4C3A;
  --accent-light: #76bb76;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  font-size: 2rem;
  background-color: var(--accent-dark);
  padding: .5rem;
  color: white;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: grey;
  text-align: center;
  margin: 4rem 0;
}

#gallows {
  width: 75px;
  height: 200px;
  background-image: url(../imgs/hangman.png);
}

#letters button {
  font-size: 1rem;
  font-weight: bold;
  width: 45px;
  padding: .7rem;
  margin: .5rem;
  border: 2px solid grey;
  color: grey;
  border-radius: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
}

#letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 4rem;
}

#word {
  font-size: 3rem;
  letter-spacing: 1rem;
  color: grey;
}

button.wrong {
  background-color: var(--accent-dark);
  cursor: not-allowed;
}

button.correct {
  background-color: var(--accent-light);
  cursor: not-allowed;
}

#replay {
  font-size: 1rem;
  font-weight: bold;
  padding: .7rem;
  margin-top: 2rem;
  border: 2px solid grey;
  color: grey;
  border-radius: .2rem;
  outline: none;
  cursor: pointer;
}

#replay:hover {
  background-color: grey;
  color: white;
}